---
import Layout from '@/layouts/Layout.astro'
import Header from '@/components/Header.astro'
import Banner from '@/components/Banner.astro'
import FeaturedProduct from '@/components/products/FeaturedProduct.astro'
import CategoryProduct from '@/components/products/CategoryProduct.astro'
import NewProduct from '@/components/products/NewProduct.astro'
import BreadcumbsHeader from '@/components/BreadcumbsHeader.astro'

import data from '@/data/products.json'
---

<Layout
	title="Inabroh - Herramientas de Calidad"
	description="Inabroh herramientas de calidad.">
	<main class="w-full h-full">
		<Banner
			title={data.products[0].name}
			description={data.products[0].description}
			image={data.products[0].image}
		/>
		<section class="my-14 container mx-auto">
			<div class="grid grid-cols-3 my-2 px-6 gap-2">
				{
					data.categorias.map((product) => (
						<CategoryProduct image={product.image} name={product.name} />
					))
				}
			</div>
		</section>
		<section class="my-12 container mx-auto">
			<Header title="Productos destacados">
				<BreadcumbsHeader />
			</Header>
			<div class="grid grid-cols-2 space-x-4 my-10 px-6">
				<FeaturedProduct />
				<FeaturedProduct />
			</div>
		</section>
		<section class="my-12 container mx-auto">
			<Header title="Nuevos lanzamientos">
				<BreadcumbsHeader />
			</Header>
			<div class="grid grid-cols-5 my-10 space-x-4">
				{
					data.products
						.slice(1)
						.flatMap((product) =>
							product.sizes.map((size) => ({
								...product,
								size: size.size,
								price: size.price,
								isNew: size.isNew,
							})),
						)
						.map((product) => (
							<NewProduct
								name={product.name}
								description={product?.description}
								image={product.image}
								size={product.size}
								price={product.price}
							/>
						))
				}
			</div>
		</section>
	</main>
</Layout>
